<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<p th:text="${aboutInfo}"/>
</body>
</html>